/* cabizaresrc START */

main section {
    padding: 8.5% 0;
}

/* Index rwd-mobile START */
section.hero-mobile-index {
    display: none;
}

h2.about-me-title.aos-init.aos-animate {
    display: block;
}
/* Index rwd-mobile END */

h2.works-main-title.aos-init.aos-animate {
    line-height: 1.8rem;;
}

.services-card-wrapper {
    display: flex;
    flex-wrap: unset;
    justify-content: space-around;
    padding: 0 0 4% 0;
}

@media only screen and (max-width: 768px) {
    .services-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.services-card {
    background: #1b1b1b;
    box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
    border-radius: 0.8rem;
    width: 35.7rem;
    min-height: 30rem;
    max-width: 100%;
    padding: 1.6rem 4.3rem 2.2rem 3.5rem;
    position: relative;
    margin: 1rem;
    margin-bottom: 2rem;
}

.services-card div {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: inherit;
    border-radius: 50%;
}

.services-card.interface:after {
    background: #ff6119;
}

*, :after, :before {
    box-sizing: border-box;
}

main section.services .content p {
    font-size: 2.3rem;
    line-height: 1.5;
    padding-top: 4%;
}


.services-card.development div {
    background: rgba(227,31,113,.2);
}

/* Typography START */

h1.services-title {
 padding: 0 0 10% 0;
}

/* Typography END */

/* Services Card::after START */
.services-card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.8rem;
    bottom: 0;
    left: 0;
    border-radius: 0 0 0.8rem 0.8rem;
}

.services-card.web-development.aos-init.aos-animate p {
    color: #c7c7c7;
    font-size: 1.3rem;
    padding: 0 0 5% 0;

}

.services-card.web-development div {
    background: rgba(115,114,110,1); 
}

.services-card.web-development:after {
    background: #73726e;
}

.services-card.design.aos-init.aos-animate p {
    color: #c7c7c7;
    font-size: 1.3rem;
    padding: 0 0 5% 0;

}

.services-card.design div {
    background: rgba(92,91,88,1); 
}

.services-card.design:after {
    background: #5c5b58;
}

.services-card.digital-marketing.aos-init.aos-animate p {
    color: #c7c7c7;
    font-size: 1.3rem;
    padding: 0 0 5% 0;

}

.services-card.digital-marketing div {
    background: rgba(69,68,66,1); 
}

.services-card.digital-marketing:after {
    background: #454442;
}
/* Services Card::after END */

section.about-me_img {
    background-image: url("../images/cabz-img_bg_web-v2-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me-img_content {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 0rem 40% 0rem 0rem;

}

img.section-bg-image__mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .about-me-img_content {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.8;
        padding: 0;

    }
}

@media screen and (max-width: 767px) {
    img.section-bg-image__mobile {
        display: block;
    }
}

/* Error Page START */
main section.error-hero {
    height: 100%;
    position: relative;
}

main section.error-hero h2 {
    margin: 0;
    padding: 0;
    letter-spacing: unset;
    text-transform: unset;
    font-size: 5.5rem;
    font-weight: 700;
    position: relative;
    cursor: default;
    white-space: nowrap;
    display: inline-block;
}

main section.error-hero h2 span {
    display: block;
    position: relative;
}

main section.error-hero h2 span:after {
    content: "";
    height: 115%;
    background-color: #000;
    position: absolute;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

main section.error-hero h2:hover span:after {
    opacity: 1;
}
/* Error Page END */

.error-description {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: .8;
    color: #A3A3A3;
    line-height: 1.5;
    padding-top: 2.5rem;
    max-width: 80%;

}

section.hero-mobile {
    display: none;
}

main section.error-hero h2 {
    line-height: 1.2;
    pointer-events: none;
    font-size: 8vw;
}

main section.error-hero h2 span:after {
    height: unset;
    position: unset;
    display: block;
    opacity: 1;
}


@media screen and (max-width: 768px) {

    section.hero-mobile-index{
        display: block !important;
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
    }

    h2.about-me-title.aos-init.aos-animate {
        display: none;
    }

    section.hero-mobile {
        display: block !important;
        padding-top: 2.5rem;
        padding-bottom: 5.5rem;
    }

    section.hero-mobile-index {
        display: none;
    }

    section.error-hero {
        display: none;
    }

    .hero-intro-description_mobile {
        color: #A3A3A3;
        font-size: 1.2rem;
        line-height: 1.8;
    }

    span.hero-name-mobile {
        margin: 0;
        padding: 0;
        letter-spacing: unset;
        text-transform: unset;
        font-size: 2rem;
        font-weight: 700;
        position: relative;
        cursor: default;
        white-space: nowrap;
        display: inline-block; 
        padding-bottom: 1rem;
        line-height: 1.8;
    }

    span.error-title {
        margin: 0;
        padding: 0;
        letter-spacing: unset;
        text-transform: unset;
        font-size: 4.5rem;
        font-weight: 700;
        position: relative;
        cursor: default;
        white-space: nowrap;
        display: inline-block;
    }
    
    span.error-subtitle {
        margin: 0;
        padding: 0;
        letter-spacing: unset;
        text-transform: unset;
        font-size: 2rem;
        font-weight: 700;
        position: relative;
        cursor: default;
        white-space: nowrap;
        display: inline-block;
        padding-bottom: 2rem;
        line-height: 1.8;
    }
    
    .error-description_mobile {
        color: #A3A3A3;
        font-size: 1.2rem;
        line-height: 1.8;
    }

}


main section.about-me .content p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8;
}

img.section-bg-image__mobile {
    max-width: 100%;
    max-height: 100%;
    padding: 0 0 2rem 0;
}

p.project_section-subtitle.aos-init.aos-animate {
    color: #c7c7c7;
    font-size: 1.3rem;
    line-height: 1.8;
    padding-top: 0.5rem;
}

section.project_section-hobby {
    padding: 5% 0% 5% 0%;
}

.work_section-employer {
    padding: 0 0 2.5rem 0;
}

a.work_section-links {
    text-transform: none !important;
}

/* Kudos Section START */ 
p.kudos_section-content.aos-init.aos-animate {
    color: #c7c7c7;
    font-size: 1.5rem;
    line-height: 1.8;
}


a.kudos_section-link {
    text-decoration: underline;
    font-weight: 500;
}

a.kudos_section-link:hover {
    text-decoration: line-through;
}
/* Kudos Section END */

/* cabizaresrc END */